* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

p{
    font-size: 1.1em;
    margin: auto;
}

header {
    padding-right: 1%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}


header a{
    width: 10%;
}
header img
{
    width: 100%;
}

nav.menu ul li a{
    color: gold;
    display: block;
    margin-top: 12%;
    padding-left: 1em;
    font-size: 1.7em;
}

nav.menu ul li {
    display: inline-block;
}

nav.menu li ul{
    display: none;
    position: absolute;
}

nav.menu li:hover > ul{
    display: block;
    background-color: black;
}

footer{
    background-color:black;
    margin-top: 10%;
    font-size: large;
}

footer ul li a{
    color:white;
    font-size: 1.5em;
}

.fuentes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

body{
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

article{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
}

article .titulo{
    font-size: x-large;
    font-family: fantasy;
    font-weight: bold;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

section .subtitulo{
    font-size: large;
    font-family: verdana;
    font-weight: bold;
    margin: auto;
}

section img{
    margin-bottom: 1.5%;
    width: 45%;
    margin: auto;
}

section input{
    margin-bottom: 2%;
    width: 1.05em;
}

section iframe{
    margin-bottom: 1.5%;
}


section .Foto{
    width: 30%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

section .Box{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;

}

section .datos{
    width: auto;
    padding-left: 4%;
}

section .Send{
    width: auto;
}

section .right{
    width: 40%;
    Display: Inline-Block;
}

section aside{
    margin: auto;
    width: 59%;
    display: inline-block;
}

.marco{
    border: 1.5px solid black;
    margin-top: 1%;
    background-color: rgba(255,255,255,0.5);
}

.icon{
    display: none;
}

.linea{
    border-top: 1.5px solid black;
}

#Yuma{
    width: 62%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#Nash{
    width: 81%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#Astral{
    width: 73%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#DonThousand{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 480px){

p{
    font-size: 1.2em;
    margin-bottom: 1%;
}

header{
 position: sticky;
 top: 0px;
}

header a{
    width: 30%;
}

header img {
    width: 100%;
}

article{
    min-width: 470px;
}

article .titulo
{
    margin-top :1%;
}

article.marco{
    border: 2px solid black;
    max-width: 470px;
}

section{
    max-width: 440px;
}        

section img{
	margin-bottom: 1%;    
	width: 100%;
}

section label{
	margin-bottom: 1%;
	display:block;
}

section iframe{
    margin: auto;
    width: 440px;
    margin-bottom: 3%;
}

section .Foto{
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section aside{
    width: 100%;
    display: block;
}

section .right{
    border-top: 2px solid black;
    width: 100%;
    Display: Block;
}

section.subtitulo
{
    margin-top: 2%;
}

section .datos{
    width: auto;
    padding-left: 19%;
}

.linea{
    border-top: 2px solid black;
}



.icon{
    display: block;
    color: gold;
    margin-top: 15px;
    font-size: 40px;
}

nav.responsive li ul{
    display: none;
    position: absolute;
}

nav.responsive li:hover > ul{
    display: block;
    background-color: black;
}

nav ul { 
    display: none; 
} 

nav.responsive ul { 
    display: block; 
}

nav.responsive ul li { 
    display: inline-block; 
    text-align: center; 
} 

nav.responsive ul li a { 
    padding-right: 0; 
}

footer ul li a{
    font-size: 1.2em;
}

}