* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

nav ul li a{
    color: gold;
    padding-top: 10%;
    display: inline-block;
    padding-left:2em;
    font-size: 1.7em;
}

nav ul li {
    display: inline-block;
}

footer ul li a {
    color:white;
}

header {
    padding-right: 1%;
    padding-top: 1%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
}

header img {
    width: 20%;
}

footer{
    background-color:black;
    margin-top: auto;
    font-size: large;
}

.fuentes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


body{
    background-image: url(../images/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 1300px;
}

article p{
    font-size: 1.1em;
}

article img{
    margin-bottom: 1.5%;
    width: 30%;
}

article iframe{
    margin-bottom: 1.5%;
}

article input{
    margin-bottom: 2%;
    width: 1.05em;
}

article .datos{
    width: auto;
    padding-left: 4%;
}

article .Send{
    width: auto;
}

article .titulo{
    margin-top: 5%;
    font-size: x-large;
    font-family: fantasy;
    font-weight: bold;
}

article .subtitulo{
    font-size: large;
    font-family: verdana;
    font-weight: bold;
}

article .Box{
    margin-top: 2%;
}

article .right{
    Display: Inline-Block;
    width: 40%;
}

article aside{
    Display: Inline-Block;
    width: 59%;
}